body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #DBC4A5
}
header{
    background-color: #7c7960;
    color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    font-size: 18px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-links{
    display: flex;
    gap: 20px;
}
.nav-links a{
    color: #443223;
    
    text-decoration: none;
    padding: 10px 15px;
}
.nav-links a:hover{
    color: #FFFFFF;
    text-decoration: underline;
}
section{
    flex: 1;
    margin-top: 140px;
    padding: 0px 20px;
}
